@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  color: #696984;
}

@layer components {
  .utils{
    @apply after:left-0 w-full h-20 absolute left-0 bottom-0
  }
  .button{
    @apply rounded-[80px] py-2.5 px-8 font-semibold text-sm transition-all
  }
  .title{
    @apply text-3xl text-blue font-bold mb-4 
  }
  .label{
    @apply bg-primary rounded-full py-1 px-4 text-white text-center text-sm
  }
  .blog-list-nav{
    @apply w-10 h-10 rounded-md grid place-content-center bg-primary disabled:bg-primary/50
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-gradient{
  background: -webkit-linear-gradient(#136CB5 , #49BBBD );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}